@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .animate-stroke {
    animation: stroke 0.6s cubic-bezier(0.65, 0, 0.45, 1) forwards;
  }
}

@keyframes stroke {
  100% {
    stroke-dashoffset: 0;
  }
}

@keyframes scale {
  0%, 100% {
    transform: none;
  }
  50% {
    transform: scale3d(1.1, 1.1, 1);
  }
}

@keyframes fill {
  100% {
    box-shadow: inset 0px 0px 0px 30px #10b981;
  }
}
